/* CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.car-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.car-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.car-img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.car-description {
    display: none;
    margin-top: 10px;
}

button {
    background-color: #bdb76b;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #9c974e;
}

/* Style for the bid form */
label,
input {
    display: block;
    margin-top: 10px;
}

.bid-form {
    display: none;
}
