{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container mt-4">
        <h2 class="text-center mb-4 text-primary">Active Listings</h2>

        <div class="row">
            {% for item in listings %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card d-flex flex-column h-100 shadow-sm">
                        <a href="{% url 'listing' item.id %}">
                            <img class="card-img-top" src="{{ item.image_url }}" alt="{{ item.title }}">
                        </a>
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title mb-3"><a href="{% url 'listing' item.id %}" class="text-dark">{{ item.title }}</a></h5>
                            <p class="card-text text-muted mb-2">{{ item.description }}</p>
                            <p class="card-text text-muted mb-1"><small>Author: {{ item.user }}</small></p>
                            {% if item.category %}
                                <p class="card-text text-muted mb-1"><small>Category: {{ item.category | title }}</small></p>
                            {% else %}
                                <p class="card-text text-muted mb-1"><small>Category: Not listed</small></p>
                            {% endif %}
                            {% if item.price %}
                                <p class="card-text text-success mb-2"><strong>Price: ${{ item.price }}</strong></p>
                            {% else %}
                                <p class="card-text text-danger mb-2"><strong>Price: Not specified</strong></p>
                            {% endif %}
                            {% if item.winner is None %}
                                <p class="card-text text-success mb-2"><strong>Status: Available</strong></p>
                            {% else %}
                                <p class="card-text text-danger mb-2"><strong>Status: Sold</strong></p>
                            {% endif %}
                            <p class="card-text text-muted mb-1"><small>Created at: {{ item.created_at }}</small></p>
                        </div>
                        <div class="card-footer text-center">
                            {% if item in user.watchlist.all %}
                                <a href="{% url 'unwatch' item.id %}" class="btn btn-outline-danger"><i class="fa fa-heart"></i> Remove from Watchlist</a>
                            {% else %}
                                <a href="{% url 'watch' item.id %}" class="btn btn-outline-danger"><i class="far fa-heart"></i> Add to Watchlist</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
