{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{% static 'auctions/css/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="icon" type="image/png" href="{% static 'auctions/img/icon.png' %}">


 <!-- Favicon -->
 <link href="{% static 'img/favicon.ico' %}" rel="icon">

 <!-- Google Web Fonts -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

 <!-- Icon Font Stylesheet -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

 <!-- Libraries Stylesheet -->
 <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
 <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
 <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />


 <!-- Customized Bootstrap Stylesheet -->
 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

 <!-- Template Stylesheet -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

 <!-- Topbar Start -->
 <div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>123 Street, Colombo, Sri Lanka</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+94 772432294</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<div>
    {% if user.is_authenticated %}
        <span style="float: right;">
        </span>
    {% endif %}
</div>

  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'default_home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>Car Mart</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a class="nav-link" href="{% url 'default_home' %}">Home</a>
            <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            <a class="nav-link" href="{% url 'categories' %}">Search</a>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
    
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
                <a class="nav-link" href="{% url 'watchlist' %}">WatchList 
                    <span class="badge bg-info">{{ user.watchlist_counter }}</span>
                </a>
            {% endif %}
        </div>
    </div>
    
    </div>
    <div class="user-avatar">
        <a href="{% url 'user_profile' %}">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="User Avatar" class="avatar-image">
            {% else %}
                <img src="https://static.vecteezy.com/system/resources/previews/007/033/146/non_2x/profile-icon-login-head-icon-vector.jpg" alt="Default Avatar" class="avatar-image">
            {% endif %}
        </a>
    </div>
    <!-- Inside your HTML template, add the following style -->
    <style>
        .avatar-image {
            width: 60px; /* Adjust the size as needed */
            height: 60px;
            border-radius: 50%;
        }
    </style>

    </nav>

        <hr>
        {% block body %}
        {% endblock %}
        {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.js"></script> #}
    </body>

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Contact Information</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Car Mart Street, Colombo, Sri Lanka</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+94 123 456789</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@carmart.lk</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Operating Hours</h4>
                <h6 class="text-light">Monday - Friday:</h6>
                <p class="mb-4">09.00 AM - 09.00 PM</p>
                <h6 class="text-light">Saturday - Sunday:</h6>
                <p class="mb-0">09.00 AM - 12.00 PM</p>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Explore Our Services</h4>
                <a class="btn btn-link" href="#">Browse Auctions</a>
                <a class="btn btn-link" href="#">Sell Your Car</a>
                <a class="btn btn-link" href="#">Car Inspections</a>
                <a class="btn btn-link" href="#">Support Center</a>
                <a class="btn btn-link" href="#">FAQs</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Newsletter</h4>
                <p>Stay updated with the latest car auctions and news.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Car Mart Lanka</a>, All Rights Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="#">Home</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Service</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
</html>
