.product-card {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photos {
    flex: 1;
}

.image-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
}

.nav-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.nav-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.details {
    flex: 1;
    padding: 20px;
}

.details h2 {
    color: #333;
}

.bidding {
    margin-top: 20px;
    margin-bottom: 20px; /* Added margin bottom */
}

.bidding input {
    padding: 5px;
    margin-right: 10px;
}

.bidding button {
    padding: 8px;
    background-color: #bdb76b;
    color: white;
    border: none;
    cursor: pointer;
}

.bidding button:hover {
    background-color: #45a049;
}

#moreDetails {
    display: none;
    margin-top: 20px;
    text-align: center; /* Centered the button */
}

#moreDetailsButton {
    margin: 20px auto; /* Centered the button horizontally with top and bottom margins */
    display: block; /* Ensures the button takes the full available width */
}
