<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in page</title>
  <link rel="stylesheet" href="Sign up.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFKKxLhei659CQXFEbbKuqL" crossorigin="anonymous" referrerpolicy="no-referrer">
  <style>
    body {
      background-image: url('https://wallpaperaccess.com/full/4933388.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed; /* Keeps the background fixed while scrolling */
    }
  </style>
</head>
<body>
  <div class="login">
    <form action="">
      <h1>Sign up</h1>
      <div class="box02">
        <input type="text" class="input" placeholder="First Name" autocomplete="off">
      </div>
      <div class="box03">
        <input type="password" class="input" placeholder="Last Name" autocapitalize="off">
      </div>
            <div class="box04">
        <input type="text" class="input" placeholder="Email Id" autocomplete="off">
      </div> 
   <div class="box05">
        <input type="text" class="input" placeholder="Password" autocomplete="off">
      </div>    
      <div class="box08">
        <button class="button">Sign up</button>
      </div>
      <div class="box09">
        <p>or</p>
      </div>
      <div class="btn">
        <button class="fb-btn">
          <i class="fa-brands fa-facebook"></i> Facebook
        </button>
        <button class="google-btn">
          <i class="fa-brands fa-google"></i> Google
        </button>
      </div>
    </form>
  </div>
</body>
</html>
